@import "./sass/components/homePage";

* {
    box-sizing: border-box;
}

.myNav {
    display: flex;
    justify-content: center;

    li {
        list-style: none;
        margin: 10px;

        a
        {
            text-decoration: none;
        }
    }
}